<h1>Ejemplo de conexión a OMEKA</h1>

<!-- recorre todos los campos de los items para extraer el nombre -->
{{#each item.element_texts}}
    <h1>{{this.text}}</h1>
{{/each}}

<h2>Colección</h2>
<!-- muestra la información de las colecciones -->
{{#each collection.element_texts}}
    <h1>{{this.text}}</h1>
{{/each}}

{{log items}}

<!-- muestra la imágen en miniatura del elemento -->
<img src="{{files.0.file_urls.thumbnail}}" alt="">


<h1>TODOS LOS ELEMENTOS DE LA COLECCIÓN</h1>

<!-- recorre todos los elementos -->
{{#each items}}
  <!-- recorre la lista de textos -->
  {{#each this.element_texts}}
  {{log this}}
    <!-- si el texto es 'Title' -->
      {{#ifeq this.element.name 'Title'}}
        <h3>Title: {{this.text}}</h3>
      {{/ifeq}}
    <!-- si el texto es 'Subject' -->
      {{#ifeq this.element.name 'Subject'}}
        <p>subject: {{this.text}}</p>
      {{/ifeq}}
    <!-- si el texto es 'Description' -->
      {{#ifeq this.element.name 'Description'}}
        <p>description: {{this.text}}</p>
      {{/ifeq}}

  {{/each}}
{{/each}}
